services:
  - type: web
    name: pkgrower-backend
    env: node
    plan: free
    buildCommand: npm install && npm run build && cd backend && npm install
    startCommand: cd backend && node index.js
    envVars:
      - key: VITE_API_URL
        value: https://pkgrower-backend.onrender.com
      - key: TUYA_ACCESS_KEY
        sync: false
      - key: TUYA_SECRET_KEY
        sync: false
      - key: TUYA_DEVICE_ID
        sync: false
      - key: API_KEY
        sync: false
